:root {
  --blue: #007bff;
  --indigo: #6610f2;
  --purple: #6f42c1;
  --pink: #e83e8c;
  --red: #dc3545;
  --orange: #fd7e14;
  --yellow: #ffc107;
  --green: #28a745;
  --teal: #20c997;
  --cyan: #17a2b8;
  --white: #fff;
  --gray: #6c757d;
  --gray-dark: #343a40;
  --primary: #014421;
  --secondary: #6b3412;
  --success: #28a745;
  --info: #17a2b8;
  --warning: #ffc107;
  --danger: #dc3545;
  --light: #f8f9fa;
  --dark: #343a40;

  --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  display: block;
}

body {
  font-family: Arial, sans-serif;
  font-size: 14px;
  line-height: 1.8;
  font-weight: 400;
  background: #fff;
  color: var(--secondary);
}

h2 {
  display: block;
  font-size: 1.5rem;
  margin-block-start: 0.83rem;
  margin-block-end: 0.83rem;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  margin: 5rem;
  font-weight: bold;
  font-family: "Fjalla One", serif !important;
}

ol,
ul,
dl {
  margin-top: 0;
  margin-bottom: 1rem;
}

p {
  margin: 5rem !important;
  width: 50rem;
}

ul {
  display: block;
  list-style-type: disc;
  margin-block-start: 1rem;
  margin-block-end: 1rem;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}

li {
  display: list-item;
  text-align: -webkit-match-parent;
}

a {
  -webkit-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  transition: 0.3s all ease;
  color: #2f89fc;
  text-decoration: none;
  background-color: transparent;
}

#sidebar {
  min-width: 300px;
  max-width: 300px;
  background: var(--primary);
  color: #fff;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  position: relative;
}

#sidebar ul.components {
  padding: 0;
}

#sidebar ul li {
  font-size: 16px;
}

#sidebar ul li.active > a {
  background: transparent;
  color: #fff;
}

#sidebar ul li a {
  padding: 15px 30px;
  display: block;
  color: rgba(255, 255, 255, 0.6);
  border-bottom: 1px solid rgba(255, 255, 255, 0.05);
}

#sidebar ul li a:hover {
  background-color: #2f89fc;
  cursor: pointer;
}

.mr-3,
.mx-3 {
  margin-right: 1rem !important;
}

.wrapper {
  width: 100%;
}

.align-items-stretch {
  -webkit-box-align: stretch !important;
  -ms-flex-align: stretch !important;
  align-items: stretch !important;
}

.d-flex {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  /* display: flex !important; */
}

.mb-5,
.my-5 {
  margin-bottom: 3rem !important;
}

#content {
  /* width: 100%; */
  padding: 0;
  min-height: 100vh;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

@media (min-width: 768px) {
  .p-md-5 {
    padding-top: 5rem !important;
    /* border-left: 5px !important; */
  }
}

/* button */

#sidebar .custom-menu {
  display: inline-block;
  position: absolute;
  top: 20px;
  right: 0;
  margin-right: -35px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

#sidebar .custom-menu .btn.btn-primary {
  background: var(--secondary);
  border-color: transparent;
  position: relative;
  color: #000;
  width: 30px;
  height: 30px;
}

.custom-menu .btn.btn-primary {
  background: var(--secondary);
  border-color: transparent;
  position: relative;
  color: rgb(255, 255, 255);
  width: 30px;
  height: 30px;
}

#sidebar .custom-menu .btn.btn-primary:after,
#sidebar .custom-menu .btn.btn-primary:before {
  position: absolute;
  background: var(--secondary);
  top: 2px;
  left: 0;
  right: 0;
  bottom: 0;
  font-family: fontawesome;
  color: #fff;
}

#sidebar .custom-menu .btn.btn-primary:after {
  content: "\f054";
  left: 2px;
}

.fa {
  font: normal normal normal 14px/1 Arial !important;
}

.fa-home:before {
  font: normal normal normal 14px/1 FontAwesome;
}

.fa-user:before {
  font: normal normal normal 14px/1 FontAwesome;
}
